.container {
    margin-top: 140px;
    display: flex;
    justify-content: space-between;
}

.buyYes {
    border: 1px solid #3600b39d;
    padding: 20px;
    width: 220px;
    height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: 0px 5px 10px #3600b377;
    background:linear-gradient(#fff , #ece3ff);
    color: #3700b3;
    margin-right: 40px;
}
.buttonContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.buttonContainer button {
    background-color:#4411b9 ;
    padding: 10px;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    /* width: 35px;
    height: 35px; */
    /* font-size: 15px; */
}
.checkout {
    border: 1px solid #3600b39d;
    padding: 20px;
    width: 240px;
    height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: 0px 5px 10px #3600b377;
    background:linear-gradient(#fff , #ece3ff);
    color: #3700b3;
    margin-right: 40px;
}
.checkout a , .buyNo a {
    padding: 10px;
    background-color: #4411b9;
    color: #fff;
    border-radius: 3px;
    text-decoration: none;
    margin-right: 10px;
    width: fit-content;
}
.buyNo {
    border: 1px solid #3600b39d;
    padding: 20px;
    width: 240px;
    height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: 0px 5px 10px #3600b377;
    background:linear-gradient(#fff , #ece3ff);
    color: #3700b3;
    margin-right: 40px;
}
@media (max-width : 1200px) {
    .container {
        flex-direction:column;
        justify-content: center;
        align-items: center;
    }
    .buyYes {
        margin-right: 0;
    }
    .buyNo {
        margin-right: 0;
    }
    .checkout {
        margin-right: 0;
    }
}